# Bullet dependencies

# standard set of extensions
git /dependencies/BulletDep        https://github.com/OpenEngineDK/dependencies-BulletDep.git

git-dev /dependencies/BulletDep    git@github.com:OpenEngineDK/dependencies-BulletDep.git

#data files
win32 /dependencies/BulletDep http://openengine.dk/data/dependencies/bullet-2.77.tar.gz
linux /dependencies/BulletDep http://openengine.dk/data/dependencies/bullet-2.77.tar.gz
darwin /dependencies/BulletDep http://openengine.dk/data/dependencies/bullet-2.77.tar.gz
